@font-face {
    font-family: "Cabinet Grotesk-med";
    src: url(../../assets/CabinetGrotesk-Medium.woff2);
}

@font-face {
    font-family: "Cabinet Grotesk-bold";
    src: url(../../assets/CabinetGrotesk-Bold.woff2);
}

.page {
    background-color: #f3f3f3;
}

.page__content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}